#| CloudNativePG Operator HelmRelease #|
#| Reference: https://cloudnative-pg.io/documentation/current/installation_upgrade/ #|
#% if mcp_gateway_enabled %#
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudnative-pg
spec:
  chartRef:
    kind: OCIRepository
    name: cloudnative-pg
  interval: 1h
  values:
    #| Operator configuration #|
    crds:
      create: true
    replicaCount: 1
    #| Monitoring - integrate with Prometheus if observability is enabled #|
    monitoring:
      podMonitorEnabled: #{ observability_enabled | default(false) | lower }#
      grafanaDashboard:
        create: #{ observability_enabled | default(false) | lower }#
#% endif %#
