#% if flux_mcp_enabled | default(false) %#
---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: OCIRepository
metadata:
  name: flux-mcp
spec:
  interval: 1h
  url: oci://ghcr.io/controlplaneio-fluxcd/charts/flux-operator-mcp
  ref:
    tag: #{ flux_mcp_version | default('v0.17.0') }#
#% endif %#
