---
apiVersion: v1
kind: Secret
metadata:
  name: proxmox-csi-plugin
stringData:
  config.yaml: |
    clusters:
      - url: "#{ proxmox_api_url }#"
        insecure: #{ proxmox_insecure | default(true) | string | lower }#
        token_id: "#{ proxmox_csi_token_id }#"
        token_secret: "#{ proxmox_csi_token_secret }#"
        region: "#{ proxmox_region | default('talos-k8s') }#"
