#% if keycloak_enabled %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./helmrepository.yaml
  - ./httproute.yaml
  - ./networkpolicy.yaml
  - ./referencegrant.yaml
  - ./secret.sops.yaml
#% if keycloak_postgresql_enabled | default(true) %#
  - ./postgresql.yaml
#% endif %#
#% if keycloak_realm_config_enabled | default(true) %#
  - ./realm-config.yaml
#% endif %#
#% endif %#
