#% if keycloak_enabled %#
---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-secret
stringData:
  admin-password: "#{ keycloak_admin_password }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-db-secret
stringData:
  password: "#{ keycloak_db_password }#"
  username: keycloak
#% endif %#
