#% if keycloak_enabled %#
---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-secret
stringData:
  admin-password: "#{ keycloak_admin_password }#"
#% if keycloak_entra_id_enabled and keycloak_entra_id_client_secret %#
  entra-id-client-secret: "#{ keycloak_entra_id_client_secret }#"
#% endif %#
---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-db-secret
stringData:
  password: "#{ keycloak_db_password }#"
  username: keycloak
#% endif %#
