---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-operator
spec:
  chartRef:
    kind: OCIRepository
    name: flux-operator
  interval: 1h
  values:
    # Network policy labels for CCNP tiered policies
    podLabels:
      network.cilium.io/api-access: "true"
    serviceMonitor:
      create: true
    # Disable the built-in NetworkPolicy which only allows port 9080 (web)
    # but blocks port 8080 (metrics) that the serviceMonitor scrapes
    statusPage:
      networkPolicy:
        create: false
