#% if flux_web_enabled | default(false) and flux_web_oauth2_enabled | default(true) and keycloak_enabled %#
---
#| OIDC credentials for Flux Web UI Keycloak authentication #|
apiVersion: v1
kind: Secret
metadata:
  name: flux-web-oidc-credentials
stringData:
  client-id: "flux-web"
  client-secret: "#{ keycloak_flux_web_client_secret | default(keycloak_oidc_client_secret) }#"
#% endif %#