#% if apisix_enabled %#
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apisix-system-apisix
spec:
  dependsOn:
    - name: apisix-system-etcd
  interval: 1h
  path: ./kubernetes/apps/apisix-system/apisix/app
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: apisix-system
  wait: true
#% endif %#
