#% if agentgateway_enabled %#
---
apiVersion: v1
kind: Secret
metadata:
  name: agentgateway-keycloak-secret
type: Opaque
stringData:
  client-id: "agentgateway-mcp"
  client-secret: "#{ keycloak_agentgateway_client_secret | default(keycloak_oidc_client_secret) }#"
#% endif %#
