#% if minio_enabled | default(false) %#
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: minio
  namespace: storage
spec:
  dependsOn:
    - name: flux-instance
      namespace: flux-system
#% if proxmox_csi_enabled | default(false) %#
    - name: proxmox-csi
      namespace: csi-proxmox
#% endif %#
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  path: ./kubernetes/apps/storage/minio/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: storage
  wait: false
  postBuild:
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
#% endif %#
