#% if agentgateway_addr is defined and azure_openai_eastus2_api_key is defined and azure_openai_eastus2_images_deployment_name is defined %#
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: azure-openai-eastus2-images
spec:
  parentRefs:
    - name: agentgateway
      namespace: kgateway-system
  hostnames:
    - "llms.#{ primary_domain }#"
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /azure/eastus2/images
      backendRefs:
        - group: agentgateway.dev
          kind: AgentgatewayBackend
          name: azure-openai-eastus2-images
          namespace: ai-system
#% endif %#
