#% if opentelemetry_k8s_events_enabled | default(victoria_logs_enabled) %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
resources:
  - rbac.yaml
  - collector.yaml
#% endif %#
