#% if onedev_enabled %#
---
apiVersion: v1
kind: Secret
metadata:
  name: onedev-secret
stringData:
  admin-password: "#{ onedev_admin_password }#"
#% if onedev_database_password %#
  database-password: "#{ onedev_database_password }#"
#% endif %#
#% endif %#
