#% if agentgateway_addr is defined and azure_openai_eastus_api_key is defined %#
---
apiVersion: v1
kind: Secret
metadata:
  name: azure-openai-eastus-credentials
type: Opaque
stringData:
  Authorization: "#{ azure_openai_eastus_api_key }#"
#% endif %#
