#% if apisix_enabled %#
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apisix-system-etcd
  namespace: flux-system
spec:
  targetNamespace: apisix-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: etcd
  dependsOn:
    - name: kube-system-cilium
  path: ./kubernetes/apps/apisix-system/etcd/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
#% endif %#
