---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: k8s-gateway
spec:
  chartRef:
    kind: OCIRepository
    name: k8s-gateway
  interval: 1h
  values:
    fullnameOverride: k8s-gateway
    domain: "${SECRET_DOMAIN}"
#% if cloudflare_domains | length > 1 %#
    extraZones:
#% for domain in cloudflare_domains[1:] %#
      - "${SECRET_DOMAIN_#{ loop.index + 1 }#}"
#% endfor %#
#% endif %#
    fallthrough:
      enabled: true
    extraZonePlugins:
      - name: log
      - name: errors
      - name: health
        configBlock: |-
          lameduck 5s
      - name: ready
      - name: prometheus
        parameters: 0.0.0.0:9153
      - name: forward
        parameters: . #{ k8s_gateway_fallback_dns | join(' ') }#
        configBlock: |-
          policy sequential
      - name: loop
      - name: reload
      - name: loadbalance
    ttl: 1
    service:
      type: LoadBalancer
      port: 53
      annotations:
        lbipam.cilium.io/ips: "#{ cluster_dns_gateway_addr }#"
      externalTrafficPolicy: Cluster
    watchedResources: ["HTTPRoute", "Service"]
