#% if mcp_gateway_enabled %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./statefulset.yaml
  - ./service.yaml
  - ./httproute.yaml
  - ./realm-config.sops.yaml
  - ./secret.sops.yaml
#% endif %#
