---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
spec:
  chartRef:
    kind: OCIRepository
    name: reloader
  interval: 1h
  values:
    fullnameOverride: reloader
    # Network policy labels for CCNP tiered policies
    reloader:
      deployment:
        labels:
          network.cilium.io/api-access: "true"
      readOnlyRootFileSystem: true
      podMonitor:
        enabled: true
        namespace: "{{ .Release.Namespace }}"
