#% if envoy_gateway_enabled | default(false) %#
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: envoy-gateway
spec:
  chartRef:
    kind: OCIRepository
    name: envoy-gateway
  interval: 1h
  values:
    global:
      imageRegistry: mirror.gcr.io
    config:
      envoyGateway:
        admin:
          address:
            host: "0.0.0.0"
            port: 19000
        provider:
          type: Kubernetes
          kubernetes:
            deploy:
              type: GatewayNamespace
#% if envoy_ai_gateway_enabled %#
        extensionApis:
          enableEnvoyPatchPolicy: true
          enableBackend: true
        extensionManager:
          hooks:
            xdsTranslator:
              translation:
                listener:
                  includeAll: true
                route:
                  includeAll: true
                cluster:
                  includeAll: true
                secret:
                  includeAll: true
              post:
                - Translation
                - Cluster
                - Route
          service:
            fqdn:
              hostname: ai-gateway-controller.envoy-ai-gateway-system.svc.cluster.local
              port: 1063
#% endif %#
#% endif %#
