---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./certificate.yaml
  - ./envoy.yaml
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./podmonitor.yaml
#| Unified Keycloak OIDC authentication for all gateways #|
#% if oidc_enabled and mcp_gateway_enabled %#
  - ./oidc-keycloak.yaml
  - ./oidc-keycloak-secret.sops.yaml
#% endif %#
#% if mcp_gateway_enabled %#
  - ./mcp-securitypolicy.yaml
#% endif %#
