#| OIDC SecurityPolicy for Google authentication #|
#| Only rendered when oidc_enabled and oidc_google_enabled are true #|
#% if oidc_enabled and oidc_google_enabled %#
---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: SecurityPolicy
metadata:
  name: oidc-google
spec:
  targetRefs:
#% for gateway in oidc_target_gateways %#
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: #{ gateway }#
#% endfor %#
  oidc:
    provider:
      issuer: "https://accounts.google.com"
      #| Google uses access_type=offline param instead of offline_access scope for refresh tokens #|
      #| Both endpoints must be specified for authorizationEndpoint customization to take effect #|
      #| REF: https://github.com/envoyproxy/gateway/issues/7459 #|
      authorizationEndpoint: "https://accounts.google.com/o/oauth2/v2/auth?access_type=offline"
      tokenEndpoint: "https://oauth2.googleapis.com/token"
    clientID: "#{ oidc_google_client_id }#"
    clientSecret:
      name: "oidc-google-secret"
    redirectURL: "https://${SECRET_DOMAIN}/oauth2/callback"
    logoutPath: "/logout"
    scopes:
      - openid
      - email
      - profile
    refreshToken: true
    forwardAccessToken: true
    cookieDomain: "#{ oidc_cookie_domain }#"
#% endif %#
