#% if observability_enabled %#
---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-admin-secret
stringData:
  admin-user: admin
  admin-password: "#{ grafana_admin_password | default('admin') }#"
#% endif %#
