#% if observability_enabled and thanos_enabled %#
---
apiVersion: v1
kind: Secret
metadata:
  name: thanos-objstore-secret
stringData:
  objstore.yml: |
    type: #{ thanos_objstore_type | default('s3') }#
    config:
      bucket: #{ thanos_bucket_name | default('thanos') }#
      endpoint: #{ thanos_s3_endpoint | default('minio.observability.svc.cluster.local:9000') }#
      access_key: #{ thanos_s3_access_key | default('') }#
      secret_key: #{ thanos_s3_secret_key | default('') }#
      insecure: #{ thanos_s3_insecure | default(true) | string | lower }#
#% endif %#
