#% if agentgateway_addr is defined and azure_openai_api_key is defined %#
---
apiVersion: v1
kind: Secret
metadata:
  name: llm-credentials
type: Opaque
stringData:
  azure-openai-key: "#{ azure_openai_api_key }#"
#% if openai_api_key is defined %#
  openai-key: "#{ openai_api_key }#"
#% endif %#
#% if anthropic_api_key is defined %#
  anthropic-key: "#{ anthropic_api_key }#"
#% endif %#
#% endif %#
