#% if litellm_enabled %#
---
# Database credentials for CloudNativePG bootstrap
apiVersion: v1
kind: Secret
metadata:
  name: litellm-db-secret
type: kubernetes.io/basic-auth
stringData:
  username: "litellm"
  password: "#{ litellm_db_password }#"
#% endif %#
