#% if envoy_ai_gateway_enabled and azure_anthropic_api_key %#
---
# Secret for Azure AI Foundry Anthropic API Key authentication
apiVersion: v1
kind: Secret
metadata:
  name: azure-anthropic-credentials
type: Opaque
stringData:
  apiKey: "#{ azure_anthropic_api_key }#"
#% endif %#
