#% if kagent_enabled %#
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kagent-crds
spec:
  interval: 1h
  path: ./kubernetes/apps/kagent/kagent-crds/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: kagent
  wait: true
#% endif %#
