#% if agentgateway_addr is defined %#
---
apiVersion: gateway.kgateway.dev/v1alpha1
kind: GatewayParameters
metadata:
  name: agentgateway-params
  namespace: kgateway-system
spec:
  kube:
    service:
      extraAnnotations:
        lbipam.cilium.io/ips: "#{ agentgateway_addr }#"
    agentgateway:
      #| Enable admin UI on all interfaces (default: localhost:15000) #|
      env:
        - name: ADMIN_ADDR
          value: "0.0.0.0:15000"
#% endif %#
