#% if agentgateway_addr is defined %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./gateway.yaml
  - ./gatewayparameters.yaml
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./referencegrant.yaml
#% if agentgateway_observability_enabled | default(true) %#
  - ./gitrepository.yaml
  - ./helmrelease-dashboards.yaml
  - ./httplistenerpolicy.yaml
  - ./service-metrics.yaml
  - ./servicemonitor.yaml
  - ./prometheusrule.yaml
#% endif %#
#% endif %#
