#% if traceloop_enabled %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: traceloop

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  #% if traceloop_hub_enabled %#
  - ./hub/ks.yaml
  #% endif %#
#% endif %#
