#% if ai_gateway_enabled and ai_gateway_mcp_enabled and ai_gateway_mcp_servers %#
#% set servers_with_keys = ai_gateway_mcp_servers | selectattr('api_key', 'defined') | selectattr('api_key') | list %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./backend.yaml
  - ./mcproute.yaml
#% if servers_with_keys %#
  - ./secret.sops.yaml
#% endif %#
#% endif %#
