#% if kgateway_enabled | default(true) or agentgateway_enabled | default(true) %#
---
#| ============================================================ #|
#| Gateway API CRDs - Experimental Channel v1.4.1               #|
#| Required for kgateway experimental features                  #|
#| ============================================================ #|
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://github.com/kubernetes-sigs/gateway-api/releases/download/#{ gateway_api_version | default('v1.4.1') }#/experimental-install.yaml
#% endif %#
