#% if envoy_ai_gateway_enabled and (azure_openai_us_east_api_key or azure_openai_us_east2_api_key) %#
---
apiVersion: v1
kind: Namespace
metadata:
  name: ai-system
  labels:
    pod-security.kubernetes.io/enforce: baseline
#% if mcp_gateway_enabled and mcp_gateway_addr %#
    gateway/mcp: "true"
#% endif %#
#% endif %#
