#% if devtron_enabled %#
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: devtron
spec:
  chartRef:
    kind: HelmChart
    name: devtron-operator
  interval: 1h
  timeout: 30m
  values:
    installer:
      modules:
        - cicd
#% if devtron_storage_class %#
    global:
      storageClass: "#{ devtron_storage_class }#"
#% endif %#
    configs:
      BASE_URL_SCHEME: "HTTPS"
      BASE_URL: "#{ devtron_hostname }#.#{ primary_domain }#"
      BLOB_STORAGE_PROVIDER: "MINIO"
#% if devtron_flux_integration %#
      FEATURE_LINK_EXTERNAL_FLUX_ENABLE: "true"
      FEATURE_FLUX_DEPLOYMENTS_ENABLE: "true"
#% endif %#
    minio:
      enabled: true
#% endif %#
