---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: cloudflare-tunnel
spec:
  endpoints:
#% for domain in cloudflare_domains %#
    - dnsName: "external.#{ domain }#"
      recordType: CNAME
      targets: ["#{ cloudflare_tunnel_id() }#.cfargotunnel.com"]
#% endfor %#
