#% if observability_enabled %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./kube-prometheus-stack/ks.yaml
#% if agentgateway_enabled %#
  - ./agentgateway-dashboards/ks.yaml
#% endif %#
#% if minio_enabled %#
  - ./minio-dashboards/ks.yaml
#% endif %#
#% endif %#
