#% if observability_enabled and thanos_enabled %#
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: thanos
spec:
  dependsOn:
    - name: kube-prometheus-stack
      namespace: observability
  interval: 1h
  path: ./kubernetes/apps/observability/thanos/app
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: observability
  wait: false
#% endif %#
