#% if cognee_enabled | default(false) %#
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: neo4j
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: #{ cognee_neo4j_version | default('5.26.0') }#.0
  url: oci://ghcr.io/neo4j/helm/neo4j-standalone
#% endif %#
