#% if cognee_enabled | default(false) %#
---
apiVersion: v1
kind: Secret
metadata:
  name: neo4j-secrets
type: Opaque
stringData:
  # Neo4j authentication (format: neo4j/<password> as expected by Helm chart)
  NEO4J_AUTH: "neo4j/#{ cognee_neo4j_password }#"
#% endif %#
