#% if obot_enabled | default(false) %#
---
# Database credentials for CloudNativePG bootstrap
apiVersion: v1
kind: Secret
metadata:
  name: obot-db-secret
type: kubernetes.io/basic-auth
stringData:
  username: "#{ obot_postgres_user | default('obot') }#"
  password: "#{ obot_postgres_password }#"
#% endif %#
