#% if obot_enabled | default(false) %#
---
# Database credentials for CloudNativePG bootstrap
apiVersion: v1
kind: Secret
metadata:
  name: obot-db-secret
  namespace: obot
type: kubernetes.io/basic-auth
stringData:
  username: obot
  password: "#{ obot_db_password }#"
#% endif %#
