#% if obot_enabled | default(false) %#
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: obot
spec:
  interval: 1h
  type: oci
  url: oci://ghcr.io/jrmatherly/obot-entraid/charts
#% endif %#
