#% if obot_enabled | default(false) %#
---
apiVersion: v1
kind: Secret
metadata:
  name: obot-config-secret
type: Opaque
stringData:
  OBOT_DB_PASSWORD: "#{ obot_postgres_password }#"
#% if obot_cookie_secret | default('') %#
  OBOT_COOKIE_SECRET: "#{ obot_cookie_secret }#"
#% endif %#
#% if obot_encryption_key | default('') %#
  OBOT_ENCRYPTION_KEY: "#{ obot_encryption_key }#"
#% endif %#
#% if obot_bootstrap_token | default('') %#
  OBOT_BOOTSTRAP_TOKEN: "#{ obot_bootstrap_token }#"
#% endif %#
#% if obot_entra_client_id | default('') %#
  OBOT_ENTRA_CLIENT_ID: "#{ obot_entra_client_id }#"
#% endif %#
#% if obot_entra_client_secret | default('') %#
  OBOT_ENTRA_CLIENT_SECRET: "#{ obot_entra_client_secret }#"
#% endif %#
#% endif %#
