#% if traceloop_enabled and traceloop_hub_enabled %#
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: traceloop-hub
spec:
  interval: 1h
  url: https://github.com/traceloop/hub
  ref:
    tag: #{ traceloop_hub_version | default('v0.7.2') }#
  ignore: |
    /*
    !/helm/
#% endif %#
