#% if traceloop_enabled and traceloop_hub_enabled %#
---
apiVersion: v1
kind: Secret
metadata:
  name: traceloop-hub-api-keys
stringData:
  #% if azure_openai_us_east_api_key %#
  AZURE_OPENAI_US_EAST_API_KEY: #{ azure_openai_us_east_api_key }#
  #% endif %#
  #% if azure_openai_us_east2_api_key %#
  AZURE_OPENAI_US_EAST2_API_KEY: #{ azure_openai_us_east2_api_key }#
  #% endif %#
  #% if traceloop_openai_api_key is defined and traceloop_openai_api_key %#
  OPENAI_API_KEY: #{ traceloop_openai_api_key }#
  #% endif %#
  #% if traceloop_anthropic_api_key is defined and traceloop_anthropic_api_key %#
  ANTHROPIC_API_KEY: #{ traceloop_anthropic_api_key }#
  #% endif %#
#% endif %#
