#% if unifi_enabled %#
---
#| UnPoller Credentials - SOPS encrypted #|
#| Contains UniFi Controller access credentials #|
apiVersion: v1
kind: Secret
metadata:
  name: unpoller-secret
type: Opaque
stringData:
  UNIFI_URL: "#{ unifi_url }#"
  UNIFI_USER: "#{ unifi_user }#"
  UNIFI_PASS: "#{ unifi_pass }#"
#% endif %#
