#% if ai_gateway_enabled and ai_gateway_azure_deployments %#
#% for deployment in ai_gateway_azure_deployments %#
---
# Secret for Azure API key: #{ deployment.name }#
apiVersion: v1
kind: Secret
metadata:
  name: azure-#{ deployment.name }#-secret
type: Opaque
stringData:
  apiKey: "#{ deployment.api_key }#"
#% endfor %#
#% endif %#
