---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
stringData:
  SECRET_DOMAIN: "#{ primary_domain }#"
#% for domain in cloudflare_domains %#
  SECRET_DOMAIN_#{ loop.index }#: "#{ domain }#"
#% endfor %#
