#% if agentgateway_addr is defined and azure_cohere_rerank_api_key is defined %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./backend.yaml
  - ./backendconfigpolicy.yaml
  - ./httproute.yaml
  #| Secret moved to ai-secrets kustomization to resolve circular dependency #|
#% if agentgateway_rate_limit_enabled | default(true) %#
  - ./trafficpolicy.yaml
#% endif %#
#% endif %#
