#% if agentgateway_addr is defined and azure_cohere_rerank_api_key is defined %#
---
#| Secret for Flux postBuild substitution in azure-cohere-rerank HTTPRoute #|
apiVersion: v1
kind: Secret
metadata:
  name: azure-cohere-rerank-credentials
type: Opaque
stringData:
  AZURE_COHERE_RERANK_API_KEY: "#{ azure_cohere_rerank_api_key }#"
#% endif %#
