#% if agentgateway_addr is defined and azure_cohere_embed_api_key is defined %#
---
#| Secret for AgentgatewayBackend policies.auth.secretRef #|
apiVersion: v1
kind: Secret
metadata:
  name: azure-cohere-embed-credentials
  namespace: ai-system
type: Opaque
stringData:
  Authorization: "#{ azure_cohere_embed_api_key }#"
#% endif %#
