#% if agentgateway_addr is defined and azure_cohere_embed_api_key is defined %#
---
#| Secret for Flux postBuild substitution in azure-cohere-embed HTTPRoute #|
apiVersion: v1
kind: Secret
metadata:
  name: azure-cohere-embed-credentials
type: Opaque
stringData:
  AZURE_COHERE_EMBED_API_KEY: "#{ azure_cohere_embed_api_key }#"
#% endif %#
