#% if agentgateway_addr is defined %#
#% if azure_cohere_rerank_api_key is defined or azure_cohere_embed_api_key is defined %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
#% if azure_cohere_rerank_api_key is defined %#
  - ./azure-cohere-rerank-credentials.sops.yaml
#% endif %#
#% if azure_cohere_embed_api_key is defined %#
  - ./azure-cohere-embed-credentials.sops.yaml
#% endif %#
#% endif %#
#% endif %#
