#% if agentgateway_enabled | default(true) %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - helmrelease.yaml
  - gateway.yaml
  - mcproute.yaml
  - networkpolicy.yaml
  - servicemonitor.yaml
  - prometheusrule.yaml
#% if azure_openai_us_east_api_key or azure_openai_us_east2_api_key %#
  - azure-backends.yaml
  - secret.sops.yaml
#% endif %#
#% endif %#
