#% if envoy_ai_gateway_enabled and azure_openai_us_east_api_key %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./backend.yaml
  - ./aiservicebackend.yaml
  - ./backendsecuritypolicy.yaml
  - ./aigatewayroute.yaml
  - ./secret.sops.yaml
#% endif %#
