#% if kagent_enabled and kagent_database_type == 'postgresql' %#
---
# Database credentials for CloudNativePG bootstrap
apiVersion: v1
kind: Secret
metadata:
  name: kagent-db-secret
type: kubernetes.io/basic-auth
stringData:
  username: "#{ kagent_postgres_user | default('kagent') }#"
  password: "#{ kagent_postgres_password }#"
#% endif %#
