#% if kagent_enabled and kagent_grafana_api_key %#
---
apiVersion: v1
kind: Secret
metadata:
  name: kagent-grafana-secret
type: Opaque
stringData:
  GRAFANA_API_KEY: "#{ kagent_grafana_api_key }#"
#% endif %#
