#% if kagent_enabled %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ocirepository.yaml
  - helmrelease.yaml
  - secret.sops.yaml
#% if kagent_grafana_api_key %#
  - grafana-secret.sops.yaml
#% endif %#
#% if kagent_database_type == 'postgres' %#
  - db-secret.sops.yaml
  - postgresql.yaml
#% endif %#
#% if kagent_ui_enabled %#
  - httproute.yaml
#% endif %#
  - networkpolicy.yaml
#% if observability_enabled %#
  - podmonitor.yaml
#% endif %#
#% if agentgateway_enabled | default(false) %#
  - referencegrant.yaml
#% endif %#
#% endif %#
