#% if kagent_enabled %#
---
apiVersion: v1
kind: Secret
metadata:
  name: kagent-provider-secret
type: Opaque
stringData:
#% if kagent_provider == 'anthropic' and kagent_anthropic_api_key %#
  ANTHROPIC_API_KEY: "#{ kagent_anthropic_api_key }#"
#% elif kagent_provider == 'openai' and kagent_openai_api_key %#
  OPENAI_API_KEY: "#{ kagent_openai_api_key }#"
#% elif kagent_provider == 'azure' and azure_openai_us_east_api_key %#
  AZUREOPENAI_API_KEY: "#{ azure_openai_us_east_api_key }#"
#% elif kagent_provider == 'gemini' and kagent_gemini_api_key %#
  GOOGLE_API_KEY: "#{ kagent_gemini_api_key }#"
#% endif %#
#% endif %#
