#% if agentgateway_addr is defined and azure_openai_eastus2_api_key is defined and azure_openai_eastus2_responses_deployment_name is defined %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./backend.yaml
  - ./httproute.yaml
  - ./secret.sops.yaml
#% if agentgateway_rate_limit_enabled | default(true) or agentgateway_prompt_guard_enabled | default(true) %#
  - ./trafficpolicy.yaml
#% endif %#
#% endif %#
